# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
.venv*/
env/
.venv/
dist/
build/
.eggs/

# Kivy / Android
.bin/
.bin/*
bin/
*.apk
*.keystore
*.log

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/